body {
  background: #1a1a40;
  color: #fff;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/* elements */

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
  line-height: 120%;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.25rem;
}

h3 {
  font-size: 3.25rem;
  font-weight: 500;
  letter-spacing: 0.25rem;
}

.subheading {
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.25rem;
}

@media (max-width: 992px) {
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.375rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  .subheading {
    font-size: 1.25rem;
  }
}

/* layout */

nav {
  font-size: 2rem;
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

nav .nav__links {
  grid-column: 1/6;
  display: flex;
  flex-direction: row;
}

nav .nav__link {
  padding-right: 3.5rem;
  font-weight: 400;
  letter-spacing: 0.25rem;
}

nav .nav__logo {
  font-weight: 700;
  justify-self: end;
  grid-column: 6/13;
}

.container {
  margin: 0 auto;
  max-width: 90%;
}

@media (max-width: 992px) {
  nav {
    font-size: 1.75rem;
  }

  nav .nav__links {
    flex-direction: column;
  }
}

/* home section */

.home__title {
  margin: 20vh auto;
}

.home__name--first {
  background-image: url(../images/rectangle-small.png);
  background-repeat: no-repeat;
  background-position: 50% 85%;
}

.home__name--last {
  background-image: url(../images/rectangle-large.png);
  background-repeat: no-repeat;
  background-position: 50% 85%;
}

.home__lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__lower img {
  padding-right: 1.25rem;
}

.home__lower p {
  text-align: right;
}

.home p {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.25rem;
  line-height: 130%;
}

@media (max-width: 992px) {
  .home p {
    font-size: 2.375rem;
  }
}

@media (max-width: 768px) {
  .home p {
    font-size: 2rem;
  }
}

/* about section */

.about {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  gap: 1rem;
}

.about h3 {
  grid-row: 1;
  margin-bottom: 3rem;
}

.about p {
  margin-top: 2.625rem;
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 160%;
}

.about a {
  text-decoration: underline;
}

.about__text {
  grid-row: 2/4;
  grid-column: 1/8;
  align-self: flex-start;
}

.about__text--bold {
  font-weight: 700;
}

.about__image {
  grid-column: 9/13;
  margin: 0.625rem auto;
}

.about__image--profile {
  grid-row: 2/3;
}

.about__image--now-listening {
  grid-row: 3/4;
}

@media (max-width: 1200px) {
  .about {
    grid-template-rows: auto auto auto;
  }
  .about p {
    font-size: 1.375rem;
  }
  .about__text {
    grid-row: 2/3;
    grid-column: 1/13;
  }
  .about__image--profile {
    grid-row: 3/4;
    grid-column: 1/6;
    align-self: center;
  }
  .about__image--now-listening {
    grid-row: 3/4;
    grid-column: 6/13;
  }
}

@media (max-width: 768px) {
  .about {
    grid-template-rows: auto auto auto auto;
  }
  .about__image--profile {
    margin-top: 4.5rem;
    grid-row: 3/4;
    grid-column: 1/13;
  }
  .about__image--now-listening {
    grid-row: 4/5;
    grid-column: 1/13;
  }
}

/* tech stack section */

.tech-stack {
  margin-top: 8rem;
}

.tech-stack__showcase {
  margin-top: 5rem;
  width: 100%;
  height: 28rem;
  background-color: #280e49;
  box-shadow: inset 0rem 0rem 12.5rem #0b0f1c;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech-stack__grid {
  width: 90%;
  height: 95%;
  display: grid;
  grid-template-rows: repeat(2, 50%);
  grid-template-columns: repeat(5, 1fr);
}

.tech-stack__showcase img {
  padding: 1rem;
  align-self: center;
  justify-self: center;
  object-fit: contain;
  width: 80%;
  max-height: 80%;
}

.tech-stack__lower {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tech-stack__lower img {
  padding-right: 1.25rem;
}

.tech-stack__lower p {
  text-align: right;
  align-self: flex-start;
}

@media (max-width: 992px) {
  .tech-stack__showcase {
    margin-top: 3rem;
    height: 42rem;
  }
  .tech-stack__lower {
    margin-top: 3rem;
  }
  .tech-stack__grid {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
  .tech-stack__grid img:nth-child(9) {
    grid-column: 2/3;
  }
  .tech-stack__grid img:last-child {
    grid-column: 3/4;
  }
}

@media (max-width: 768px) {
  .tech-stack__grid {
    grid-template-rows: repeat(5, 20%);
    grid-template-columns: repeat(2, 1fr);
  }
  .tech-stack__showcase {
    height: 56rem;
  }
  .tech-stack__grid img:nth-child(9) {
    grid-column: 1/2;
  }
  .tech-stack__grid img:last-child {
    grid-column: 2/3;
  }
}

/* work section */

.work {
  margin-top: 8rem;
}

.work__projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
