body {
  background: #1a1a40;
  color: #fff;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/* elements */

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
  line-height: 120%;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.25rem;
}

h3 {
  font-size: 3.25rem;
  font-weight: 500;
  letter-spacing: 0.25rem;
}

.subheading {
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.25rem;
}

@media (max-width: 992px) {
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  .subheading {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.375rem;
  }
  h3 {
    font-size: 2rem;
  }
  .subheading {
    font-size: 1.25rem;
  }
}

/* layout */

nav {
  font-size: 2rem;
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

nav .nav__links {
  grid-column: 1/6;
  display: flex;
  flex-direction: row;
}

nav .nav__link {
  padding-right: 3.5rem;
  font-weight: 400;
  letter-spacing: 0.25rem;
}

nav .nav__logo {
  font-weight: 700;
  justify-self: end;
  grid-column: 6/13;
}

footer {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 15vh;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(39, 0, 130, 0) 0%,
    rgba(122, 11, 192, 0.4) 100%
  );
}

.footer__text--bottom {
  margin-bottom: 1rem;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1728px;
}

.hidden {
  visibility: hidden;
}

.no-display {
  display: none;
}

@media (max-width: 992px) {
  nav {
    font-size: 1.75rem;
  }
  nav .nav__links {
    flex-direction: column;
  }
}

/* home section */

.home__title {
  margin: 20vh auto;
}

.home__name--first {
  background-image: url(../images/rectangle-small.png);
  background-repeat: no-repeat;
  background-position: 50% 85%;
}

.home__name--last {
  background-image: url(../images/rectangle-large.png);
  background-repeat: no-repeat;
  background-position: 50% 85%;
}

.home__lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__lower img {
  padding-right: 1.25rem;
}

.home__lower p {
  text-align: right;
}

.home p {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.25rem;
  line-height: 130%;
}

@media (max-width: 992px) {
  .home p {
    font-size: 2.375rem;
  }
}

@media (max-width: 768px) {
  .home p {
    font-size: 2rem;
  }
}

/* about section */

.about {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  gap: 1rem;
}

.about h3 {
  grid-row: 1;
  margin-bottom: 3rem;
}

.about p {
  margin-top: 2.625rem;
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 160%;
}

.about a {
  text-decoration: underline;
}

.about__text {
  grid-row: 2/4;
  grid-column: 1/8;
  align-self: flex-start;
}

.about__text--bold {
  font-weight: 700;
}

.about__image {
  grid-column: 9/13;
  margin: 0.625rem auto;
}

.about__image--profile {
  grid-row: 2/3;
}

.about__image--now-listening {
  grid-row: 3/4;
}

@media (max-width: 1200px) {
  .about {
    grid-template-rows: auto auto auto;
  }
  .about p {
    font-size: 1.375rem;
  }
  .about__text {
    grid-row: 2/3;
    grid-column: 1/13;
  }
  .about__image--profile {
    grid-row: 3/4;
    grid-column: 1/6;
    align-self: center;
  }
  .about__image--now-listening {
    grid-row: 3/4;
    grid-column: 6/13;
  }
}

@media (max-width: 768px) {
  .about {
    grid-template-rows: auto auto auto auto;
  }
  .about__image--profile {
    margin-top: 4.5rem;
    grid-row: 3/4;
    grid-column: 1/13;
  }
  .about__image--now-listening {
    grid-row: 4/5;
    grid-column: 1/13;
  }
}

/* tech stack section */

.tech-stack {
  margin-top: 8rem;
}

.tech-stack__showcase {
  margin-top: 5rem;
  width: 100%;
  padding: 3rem;
  background-color: #280e49;
  box-shadow: inset 0rem 0rem 12.5rem #0b0f1c;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  object-fit: contain;
  column-gap: 5rem;
  row-gap: 2rem;
}

.tech-stack__showcase img {
  height: 12rem;
}

.tech-stack__lower {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tech-stack__lower img {
  padding-right: 1.25rem;
}

.tech-stack__lower p {
  text-align: right;
  align-self: flex-start;
}

@media (max-width: 992px) {
  .tech-stack__showcase img {
    height: 10rem;
  }
}

/* projects section */

.projects {
  margin-top: 8rem;
}

.projects__showcase {
  margin: 3rem auto;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.projects__project {
  position: relative;
  width: 42rem;
  height: 33rem;
  margin-bottom: 8rem;
}

.projects__project--top {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 90%;
  background: rgba(122, 11, 192, 0.3);
}

.projects__project--top .subheading {
  font-size: 2rem;
  padding: 0.2rem 0.75rem;
}

.projects__project--bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 95%;
  height: 90%;
  background: linear-gradient(91.6deg, #7a0bc0 0%, #38005b 100%);
}

.projects__project--bottom p {
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
}

.projects__project--bottom b {
  font-size: 1.3rem;
  font-weight: 600;
}

.projects__project--bottom ul {
  font-size: 1.2rem;
  padding: 0 2.5rem;
}

.projects__project--badges {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding: 0 1.5rem;
}

.projects__project--badge {
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 0.25rem 0.5rem;
  font-size: 1.2rem;
  border: 0.125rem solid #fff;
}

.projects__buttons {
  position: absolute;
  bottom: -4.75rem;
  right: 0;
  display: flex;
  column-gap: 1rem;
}

.projects__buttons p {
  padding: 0.25rem 1.25rem;
  margin: 0;
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: 0.25rem;
}

.projects__button--view {
  display: flex;
  align-items: center;
  border: 3px solid #7a0bc0;
  background: none;
  color: #fff;
}

.projects__button--source {
  display: flex;
  align-items: center;
  border: 3px;
  background: linear-gradient(91.6deg, #38005b 0%, #7a0bc0 100%);
  color: #fff;
}

/* contact */

.contact {
  margin-top: 8rem;
}

.contact h2,
.contact .subheading {
  text-align: center;
}

.contact__container {
  margin-top: 8rem;
  margin-bottom: 8rem;
  display: flex;
  justify-content: space-around;
}

.contact__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.contact__info p {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.25rem;
}

.contact__links {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__links a {
  margin-left: 3rem;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.25rem;
}

.contact__links img {
  display: inline;
  height: 50%;
}

@media (max-width: 1336px) {
  .contact__links {
    flex-direction: column;
  }
  .contact__links a {
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .contact__info p,
  .contact__links a {
    font-size: 2rem;
  }
}

@media (max-width: 992px) {
  .contact__container {
    flex-direction: column;
    align-items: center;
  }
  .contact__info {
    width: 100%;
  }
  .contact__links {
    margin-top: 3rem;
    margin-right: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .contact__info p,
  .contact__links a {
    font-size: 1.75rem;
  }
}
